<a href="https://colab.research.google.com/github/Rajesh650/Data_Science-mentorship-by-campusX/blob/main/session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [3]:
# Write your code here
print("Data", "Science" ,"Mentorship", "Program"
"By", "CampusX",sep='-')

Data-Science-Mentorship-ProgramBy-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [5]:
# Write your code here
C = float(input("enter the celcius:-"))
F = (9/5*C) + 32
print("Fahrenheit :-",F )

enter the celcius:-100
Fahrenheit :- 212.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [8]:
# Write your code here
num1 = int(input("number 1 :-"))
num2 = int(input("number 2 :-"))
temp = num1
num1 = num2
num2 = temp
print("after swap num1:-",num1 ,"after swap num2:-",num2)

number 1 :-23
number 2 :-24
after swap num1:- 24 after swap num2:- 23

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [11]:
# Write your code here

x1 = int(input("enter the length of x1 :-"))
x2 = int(input("enter the length of x2 :-"))
y1 = int(input("enter the length of y1 :-"))
y2 = int(input("enter the length of y2 :-"))
euclid_distance = float(((x2-x1)**2)+((y2-y1)**2)*0.5)
print(euclid_distance)

1.4142135623730951

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [13]:
# Write your code here
principal = int(input("enter the amount:-"))
rate = float(input("enter the rate:-"))
time = float(input("enter the time in year:-3"))
simple_interest =((principal*rate*time)/100)
print(simple_interest)

enter the amount:-100
enter the rate:-5
enter the time in year:-1
5.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [23]:
# Write your code here
# Get the total number of heads and legs from the user
total_heads = int(input("Enter the total number of heads: "))
total_legs = int(input("Enter the total number of legs: "))

# Calculating the number of chickens and dogs
# Let's assume:
# x = number of chickens
# y = number of dogs
# We have the following system of equations:
# 1. x + y = total_heads (each animal has one head)
# 2. 2x + 4y = total_legs (chickens have 2 legs, dogs have 4 legs)

# From equation 1, we get: y = total_heads - x
# Substitute y in equation 2: 2x + 4(total_heads - x) = total_legs
# Solve for x: 2x + 4total_heads - 4x = total_legs
# Simplify: -2x + 4total_heads = total_legs
# x = (4total_heads - total_legs) / 2

chickens = (4 * total_heads - total_legs) / 2
dogs = total_heads - chickens

# Check if the number of chickens and dogs are valid (non-negative integers)
if chickens.is_integer() and dogs.is_integer() and chickens >= 0 and dogs >= 0:
    print(f"Number of chickens: {int(chickens)}")
    print(f"Number of dogs: {int(dogs)}")
else:
    print("The input values do not correspond to a valid number of chickens and dogs.")

Enter the total number of heads: 4
Enter the total number of legs: 12
Number of chickens: 2
Number of dogs: 2

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [20]:
# Write your code here
# [n(n+1)(2n+1)]/6 == formula for sum of n natural number

n = int(input("enter the number:-"))

res = ((n*(n+1)*(2*n+1))/6)
print(res)

enter the number:-5
55.0

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [26]:
# Write your code here

first_term =int(input("enter the first term:-"))
second_term =int(input("enter the second term:-"))
common_difference =second_term - first_term
nth_number = int(input("enter the nth number:-"))
nth_term = first_term +(nth_number-1)*common_difference
print("nth term is:-",nth_term)

enter the first term:-2
enter the second term:-5
enter the nth number:-4
nth term is:- 11

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [28]:
# Write your code here
a1 = int(input("enter the number a1:-"))
a2 = int(input("enter the number a2:-"))
b1 = int(input("enter the number b1:-"))
b2 = int(input("enter the number b2:-"))
frac_1 =a1/a2
frac_2 =b1/b2
sum = float(frac_1+frac_2)
print(sum)

enter the number a1:-5
enter the number a2:-5
enter the number b1:-4
enter the number b2:-4
2.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [35]:
# Write your code here
height_tank =int(input("enter the the height of tank:-"))
width_tank =int(input("enter the the width of tank:-"))
breadth_tank =int(input("enter the the breadth of tank:-"))

area_of_tank = height_tank*width_tank*breadth_tank

height_glass = int(input("enter the height of glass:-"))
radius_of_glass = int(input("enter the radius of glass:-"))
area_of_glass = 3.17*(radius_of_glass**2)*height_glass

total_glass = int(area_of_tank/area_of_glass)
print(total_glass)

enter the the height of tank:-20
enter the the width of tank:-20
enter the the breadth of tank:-20
enter the height of glass:-3
enter the radius of glass:-1
841